<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
  <channel>
<atom10:link xmlns:atom10="http://www.w3.org/2005/Atom" rel="self" type="application/rss+xml" href="https://www.pipes.digital/feed/nqxM7898" />
    <title>Untitled RSS Feed &amp; Untitled RSS Feed &amp; No Feed provided</title>
    <link>https://www.pipes.digital/feed/nqxM7898</link>
    <description>Untitled RSS Feed &amp; Untitled RSS Feed &amp; The feed block was given no url</description>
    <item>
      <title>Р”СЂР°РЅРёРєРё РЅР° РјР°РєСЃРёРјР°Р»РєР°С…</title>
      <link>https://www.youtube.com/watch?v=WUZhBN_grjU</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/WUZhBN_grjU&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Tue, 08 Nov 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">3b077453596a787d1f3a48ec7a6f21ec</guid>
      <dc:date>2022-11-08T00:00:00Z</dc:date>
    </item>
    <item>
      <title>РќРµР¶РЅРµР№С€Р°СЏ РєРѕРєРѕСЃРѕРІР°СЏ РљР Р§Рљ!</title>
      <link>https://www.youtube.com/watch?v=TNbtVcLY_fo</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/TNbtVcLY_fo&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Wed, 16 Nov 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">472c3abcd3c883eeaa6c39bf493895b4</guid>
      <dc:date>2022-11-16T00:00:00Z</dc:date>
    </item>
    <item>
      <title>РњРѕРё Р›Р®Р‘РРњР«Р• РєРѕС‚Р»РµС‚РєРё! РЎ РјР°РєР°СЂРѕС€РєР°РјРё? РќРµС‚, СЃ РїСЋСЂРµС€РєРѕР№!</title>
      <link>https://www.youtube.com/watch?v=YIH98WsGcYk</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/YIH98WsGcYk&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Thu, 24 Nov 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">232b1cb260df6e9d05ed373683f5a476</guid>
      <dc:date>2022-11-24T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р РћР™РЎРЇ РІ РјРѕСЂРѕР·РёР»РєРµ Рё РіРѕС‚РѕРІСЊ СЌС‚Сѓ РЈРҐРЈ!</title>
      <link>https://www.youtube.com/watch?v=--wLRM-UnaM</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/--wLRM-UnaM&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Mon, 28 Nov 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">329184309a56b17ce8e379405f4d0b6b</guid>
      <dc:date>2022-11-28T00:00:00Z</dc:date>
    </item>
    <item>
      <title>РҐРѕС‡РµС€СЊ Р–Р РђРўР¬, РЅРѕ СЂСѓРєРё СЂР°СЃС‚СѓС‚ РёР·вЂ¦.?! Р“РѕС‚РѕРІСЊ СЌС‚Рѕ!</title>
      <link>https://www.youtube.com/watch?v=am2JBgDsSA0</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/am2JBgDsSA0&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 02 Oct 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">c4aa8f3fc8460f54b3f857928e1f8067</guid>
      <dc:date>2022-10-02T00:00:00Z</dc:date>
    </item>
  </channel>
</rss>
